@media (max-width: 1000px) {
/* 
    .container{
        width: 900px;
        margin:  auto;
    }

    .kategori {
        width: 50%;
    }

    .brand{
        width: 100%;
    }

} */


@media (max-width: 720px) {

    .container{
        width: 500px;
        margin:  auto;
    }
    
    .subs a{
        margin-left: 2px;
        font-size: 10px;
        padding: 25px 10px 21px 10px;
    }

    .gambar img{
        width: 100%;
        float: left;
    }

    .teks h2{
        font-size: 40px;
    }
    
    .teks p{
        font-size: 15px;
    }


    .brand{
        width: 100%;
        margin-top: 30px;
    }
    
    .brand img{
        margin-top: 30px;
        margin-left: 30px;
        width: 80%;
    }

    .heading_wanita h2{
        margin-bottom: -20px;
    }

    .heading_pria h2{
        margin-bottom: -20px;
    }

    .kategori {
        width: 100%;
    }

    .kategori img{
        width: 70%;
    }  

    .kategori p{
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .clear_wanita{
        margin-bottom: 1600px;
    }

    footer{
        background-color: #2C2C54;
        margin-top: 1800px;
        height: 300px;
    }

    .kiri{
        width: 50%;
    }

    .kanan{
        width: 50%;
    }
}
